<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-light">
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start d-flex">
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#ingresoModal">NUEVO</button>
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#searchModal">CONSULTAR</button>
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#ingresoModal" disabled>ACTUALIZAR ESTADO</button>
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="card" data-bs-target="#hola" disabled>EQUIPOS EN BODEGA</button>
    </form>
  </nav>

  <!-- Modal postOrden -->
 <div class="modal fade" id="ingresoModal" tabindex="-1" aria-labelledby="ingresoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> NUEVO INGRESO </h5>
        <!--<a  class="btn btn-light text-ligth">{{currentDate | date:'dd-MM-yyyy'}}<span class="badge badge-light"></span></a>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #myForm= "ngForm">
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Cliente:</span>
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.nombres" id="nombres" name="nombres" placeholder="Nombre & Apellido" required  >
<span class="input-group-text">#:</span>
  <input type="text" class="form-control"  [(ngModel)]="nuevaOrden.idingreso" id="idingreso" name="idingreso" placeholder="Ingreso" required>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">C.I:</span>
  <input type="text" class="form-control"  [(ngModel)]="nuevaOrden.cedula" id="cedula" name="cedula"  placeholder="Cedula " required>
  <span class="input-group-text">Tlf:</span>
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.telefono" id="telefono" name="telefono" placeholder="telefono" required>

</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.direccion" id="direccion" name="direccion" placeholder="Ciudad - Calle "  aria-describedby="basic-addon2" required>
  <span class="input-group-text" id="basic-addon2">Direccion:</span>
</div>

<div class="input-group mb-3">
  <select class="form-select text-uppercase"  name="seleccionarDispositivo" [(ngModel)]="nuevaOrden.tipo" (change)="getDispositivo(seleccionarDispositivo.tipo)">
    <option class="text-uppercase custom-select">EQUIPO</option>
    <option  *ngFor="let equipo of dispositivos" id="tipo" name="tipo">{{equipo.tipo}}</option>
 </select>

  <select class="form-select text-uppercase"  name="seleccionarMarca" [(ngModel)]="nuevaOrden.marca" (change)="getMarca(seleccionarMarca.marca)">
    <option class="text-uppercase custom-select">MARCA</option>
  <option  *ngFor="let nombre of marcas">{{nombre.marca}}</option>
 </select>

  <span class="input-group-text">Modelo:</span>
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.modelo" id="modelo" name="modelo" placeholder="PAVILION" required>
</div>


<div class="input-group mb-3">
  <select class="form-select text-uppercase"  name="seleccionarTecnico" [(ngModel)]="nuevaOrden.tecnico" (change)="getTecnico(seleccionarTecnico.nombres)">
  <option class="text-uppercase custom-select">Tecnico</option>
  <option  name="tecnico" *ngFor="let tecnico of tecnicos">{{tecnico.nombres}}</option>
</select>
</div>

<div class="input-group">
  <span class="input-group-text">Falla reportada:</span>
  <textarea class="form-control" aria-label="With textarea" [(ngModel)]="nuevaOrden.fallaReportada" id="fallaReportada" name="fallaReportada" placeholder="Eje. Equipo no enciende " required> </textarea>
</div>
<div>
 -
</div>
<div class="input-group">
  <span class="input-group-text" >Comentario</span>
  <textarea class="form-control" aria-label="With textarea" [(ngModel)]="nuevaOrden.Comentario" id="comentario" name="comentario" required placeholder="Eje. Equipo sin cargador "></textarea>
</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>

        <button type="button" class="btn btn-primary"  [disabled]="myForm.form.invalid" (click)="postOrden();">GUARDAR</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="searchModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Consulta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


<label for="exampleDataList" class="form-label">Ingrese numero de orden</label>
<input class="form-control" list="datalistOptions" id="idOrden" name="idOrden" [(ngModel)]="ordenSeleccionada.idingreso"  placeholder="Eje. 0065">


      </div>
      <div class="modal-footer">
        <button class="btn btn-primary"  (click)="getOrden(this.ordenSeleccionada.idingreso);">BUSCAR</button>
      </div>
    </div>
  </div>
</div>
<!---getOrdenes-->
<div> <h4 class="text-uppercase text-secondary text-center"><br>Historial de equipos</h4> <br></div>
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col"*ngFor="let ordenesT of Ordenes | orderBy: '-' | paginate: { itemsPerPage: 9, currentPage: p } ">
      <div class="card h-100 card text-dark card-left bg-light mb-3"  style="max-width: 25rem; ">
        <div class="card-header"  [ngClass]="{'bg-info':ordenesT.estado =='BODEGA',
  'bg-success':ordenesT.estado==='LISTO', 'bg-danger':ordenesT.estado=='NOVEDAD','bg-warning':ordenesT.estado=='REVISION'}">(ORDEN # {{ordenesT.idingreso}} ) {{ordenesT.estado}} </div>
        <div class="card-body">
          <h6 class="card-title text-uppercase font-weight-bold">CLIENTE: {{ordenesT.nombres}}</h6>
          <h6 class="card-title text-uppercase">CI: {{ordenesT.cedula}}</h6>
          <h6 class="card-title text-uppercase">EQUIPO: {{ordenesT.tipo}} {{ordenesT.marca}} {{ordenesT.modelo}} </h6>
          <h6 class="card-title text-uppercase">FALLA: {{ordenesT.fallaReportada}} {{ordenesT.comentario}} </h6>
          <p class="card-text text-uppercase">DIAGNOSTICO:
           ( {{ordenesT.diagnostico}})</p>
        </div>
        <div class="card-footer">
          <small class="text-ligth text-center ">Fecha de ingreso: {{ordenesT.fecha | date:'dd-MM-yyyy'}} </small>
         <a href="{{'https://api.whatsapp.com/send/?phone=593'+ ordenesT.telefono +'&text=Buen dia %2C de soluciones informaticas donde usted dejo su equipo para revision le comento que su equipo&type=phone_number&app_absent=0'}}" target="_blank" rel="noopener noreferrer">hois </a>
        </div>
      </div>
    </div>
    </div>
    <pagination-controls class="text-center" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
</body>
</html>
