<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-light">
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start d-flex">
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" autocomplete="off" checked (click)="this.getOrdenes()">INICIO</button>
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#ingresoModal">NUEVO</button>
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#searchModal">CONSULTAR</button>
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#actualizarModal">ACTUALIZAR ESTADO</button>
      <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="modal" data-bs-target="#bodegaModal">EQUIPOS EN BODEGA</button>
    </form>
  </nav>

  <!-- Modal postOrden -->
 <div class="modal fade" id="ingresoModal" tabindex="-1" aria-labelledby="ingresoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-light">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> NUEVO INGRESO </h5>
        <!--<a  class="btn btn-light text-ligth">{{currentDate | date:'dd-MM-yyyy'}}<span class="badge badge-light"></span></a>-->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #myForm= "ngForm">
<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1">Cliente:</span>
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.nombres" id="nombres" name="nombres" placeholder="Nombre & Apellido" required  >
<span class="input-group-text">#:</span>
  <input type="text" class="form-control"  [(ngModel)]="nuevaOrden.idingreso" id="idingreso" name="idingreso" placeholder="Ingreso" required>
</div>

<div class="input-group mb-3">
  <span class="input-group-text">C.I:</span>
  <input type="text" class="form-control"  [(ngModel)]="nuevaOrden.cedula" id="cedula" name="cedula"  placeholder="Cedula " required>
  <span class="input-group-text">Tlf:</span>
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.telefono" id="telefono" name="telefono" placeholder="telefono" required>

</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.direccion" id="direccion" name="direccion" placeholder="Ciudad - Calle "  aria-describedby="basic-addon2" required>
  <span class="input-group-text" id="basic-addon2">Direccion:</span>
</div>

<div class="input-group mb-3">
  <select class="form-select text-uppercase"  name="seleccionarDispositivo" [(ngModel)]="nuevaOrden.tipo" (change)="getDispositivo(seleccionarDispositivo.tipo)">
    <option class="text-uppercase custom-select">EQUIPO</option>
    <option  *ngFor="let equipo of dispositivos" id="tipo" name="tipo">{{equipo.tipo}}</option>
 </select>

  <select class="form-select text-uppercase"  name="seleccionarMarca" [(ngModel)]="nuevaOrden.marca" (change)="getMarca(seleccionarMarca.marca)">
    <option class="text-uppercase custom-select">MARCA</option>
  <option  *ngFor="let nombre of marcas">{{nombre.marca}}</option>
 </select>

  <span class="input-group-text">Modelo:</span>
  <input type="text" class="form-control" [(ngModel)]="nuevaOrden.modelo" id="modelo" name="modelo" placeholder="PAVILION" required>
</div>


<div class="input-group mb-3">
  <select class="form-select text-uppercase"  name="seleccionarTecnico" [(ngModel)]="nuevaOrden.tecnico" (change)="getTecnico(seleccionarTecnico.nombres)">
  <option class="text-uppercase custom-select">Tecnico</option>
  <option  name="tecnico" *ngFor="let tecnico of tecnicos">{{tecnico.nombres}}</option>
</select>
</div>

<div class="input-group">
  <span class="input-group-text">Falla reportada:</span>
  <textarea class="form-control" aria-label="With textarea" [(ngModel)]="nuevaOrden.fallaReportada" id="fallaReportada" name="fallaReportada" placeholder="Eje. Equipo no enciende " required> </textarea>
</div>
<div>
 -
</div>
<div class="input-group">
  <span class="input-group-text" >Comentario</span>
  <textarea class="form-control" aria-label="With textarea" [(ngModel)]="nuevaOrden.Comentario" id="comentario" name="comentario" required placeholder="Eje. Equipo sin cargador "></textarea>
</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>

        <button type="button" class="btn btn-primary"  [disabled]="myForm.form.invalid" (click)="postOrden();">GUARDAR</button>
      </div>
    </div>
  </div>
</div>

<!--puttest-->
<div class="modal fade" id="actualizarModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light">


<label for="exampleDataList" class="form-label text-center">Ingrese numero de orden</label>

<div class="input-group mb-3">
  <input class="form-control" list="datalistOptions" id="idOrden" name="idOrden" [(ngModel)]="ordenSeleccionada.idingreso"  placeholder="Eje. 0065 o Juan Aguirre">
  <div class="input-group-append">
    <button class="btn btn-outline-dark"  (click)="this.getOrden(this.ordenSeleccionada.idingreso);">BUSCAR</button>
  </div>
</div>

<div  *ngFor=" let actualizarOrden of datatest" >
  <h4 class="text-uppercase text-secondary text-center"><br>{{actualizarOrden.nombres}} - {{actualizarOrden.cedula}}</h4><br>


  <div class="input-group mb-3">
    <span class="input-group-text">Direccion:</span>
    <label class="form-control" aria-label="With textarea" id="direccion" name="direccion">{{actualizarOrden.direccion}} </label>

    <span class="input-group-text">Telefono:</span>
    <label class="form-control" aria-label="With textarea" id="telefono" name="telefono">{{actualizarOrden.telefono}} </label>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Equipo:</span>
    <label class="form-control" aria-label="With textarea" id="tipo" name="tipo">{{actualizarOrden.tipo}} </label>

    <span class="input-group-text">Marca:</span>
    <label class="form-control" aria-label="With textarea" id="marca" name="marca">{{actualizarOrden.marca}} </label>

    <span class="input-group-text">Modelo:</span>
    <label class="form-control" aria-label="With textarea" id="modelo" name="modelo">{{actualizarOrden.modelo}} </label>
  </div>

  <div class="input-group mb-3" >
    <span class="input-group-text" >Tecnico:</span>
    <label class="form-control" aria-label="With textarea" id="tecnico" name="tecnico">{{actualizarOrden.tecnico}} {{actualizarOrden.id}}</label>

  <select class="form-select text-uppercase"  [(ngModel)]="actualizarOrden.estado" id="estadoactualizar" name="estadoactualizar">
    <option class="text-uppercase custom-select">*ESTADO</option>
  <option   *ngFor="let estadoes  of estados">{{estadoes.estado}}</option>
 </select>
  </div>

  <div class="input-group">
    <span class="input-group-text">Falla reportada:</span>
    <label class="form-control" aria-label="With textarea" id="fallaReportada" name="fallaReportada" disabled>{{actualizarOrden.fallaReportada}} </label>
  </div>
  <div>
   -
  </div>
  <div class="input-group">
    <span class="input-group-text" >*Diagnostico:</span>
    <textarea class="form-control" aria-label="With textarea" id="diagnostico" name="diagnostico" [(ngModel)]="actualizarOrden.diagnostico">{{actualizarOrden.diagnostico}}</textarea>
  </div>
  <button type="" class="btn btn-primary"  (click)="patchOrden(actualizarOrden)" >Actualizar</button>
</div>

      </div>
      <div class="modal-footer">
        <div class="alert alert-warning" role="alert">
         * Solo podra actualizar el ESTADO y DIAGNOSTICO de la orden!
        </div>

      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="searchModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-light">


<label for="exampleDataList" class="form-label text-center">Ingrese numero de orden, cedula o nombres</label>

<div class="input-group mb-3">
  <input class="form-control text-capitalize" list="datalistOptions" id="idOrden" name="idOrden" [(ngModel)]="ordenSeleccionada.idingreso"  placeholder="Eje. 0065, Juan Aguirre o 1712345678">
  <div class="input-group-append">

    <div class="btn-group dropend">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          Buscar por
      </button>
      <ul class="dropdown-menu" style="">
          <li><a class="dropdown-item" (click)="this.getOrden(ordenSeleccionada.idingreso)"># Orden</a></li>
          <li><a class="dropdown-item" (click)="this.getOrdenNombre(ordenSeleccionada.idingreso)">Nombre & Apellido</a></li>
          <li><a class="dropdown-item" (click)="this.getOrdenCedula(ordenSeleccionada.idingreso)">Cedula</a></li>
      </ul>
  </div>

  </div>
</div>

<div  *ngFor=" let test of datatest" >

  <br><h6 class="text-ligth alert alert-warning text-center"role="alert">Este equipo ingresó el : {{test.fecha | date:'dd-MM-yyyy'}} </h6>

  <h4 class="text-uppercase text-secondary text-center">Orden: {{test.idingreso}} - {{test.nombres}} - {{test.cedula}} ({{test.estado}})</h4><br>

  <div class="input-group mb-3">
    <span class="input-group-text">Direccion:</span>
    <label class="form-control" aria-label="With textarea" id="tecnico" name="tecnico">{{test.direccion}} </label>

    <span class="input-group-text">Telefono:</span>
    <label class="form-control" aria-label="With textarea" id="tecnico" name="tecnico">{{test.telefono}} </label>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Equipo:</span>
    <label class="form-control" aria-label="With textarea" id="tecnico" name="tecnico">{{test.tipo}} </label>

    <span class="input-group-text">Marca:</span>
    <label class="form-control" aria-label="With textarea" id="tecnico" name="tecnico">{{test.marca}} </label>

    <span class="input-group-text">Modelo:</span>
    <label class="form-control" aria-label="With textarea" id="tecnico" name="tecnico">{{test.modelo}} </label>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" >Tecnico:</span>
    <label class="form-control" aria-label="With textarea" id="tecnico" name="tecnico">{{test.tecnico}} </label>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">Falla reportada:</span>
    <label class="form-control" aria-label="With textarea" id="fallaReportada" name="fallaReportada">{{test.fallaReportada}} </label>
  </div>
  <div>
    <div class="input-group mb-3">
      <span class="input-group-text" >Comentario:</span>
      <label class="form-control" aria-label="With textarea" id="comentario" name="comentario">{{test.Comentario}}</label>
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" >Diagnostico:</span>
    <label class="form-control" aria-label="With textarea" id="diagnostico" name="diagnostico">{{test.diagnostico}}</label>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
<!---bodega-->
<div class="modal fade modal-xl bg-secondary" id="bodegaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header ">
       <h4 class="text-uppercase text-secondary text-center"><br> EQUIPOS EN BODEGA</h4><br>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4" >
        <div class="col"*ngFor="let bodegaOrden of OrdenEstado | orderBy: '-' | paginate: { itemsPerPage: 9, currentPage: pb } ">
          <div class="card h-100 card text-dark card-left bg-light mb-3"  style="max-width: 25rem; ">
            <div class="card-header"  [ngClass]="{'bg-info':bodegaOrden.estado =='BODEGA',
      'bg-success':bodegaOrden.estado==='LISTO', 'bg-danger':bodegaOrden.estado=='NOVEDAD','bg-warning':bodegaOrden.estado=='REVISION'}">(ORDEN # {{bodegaOrden.idingreso}} ) {{bodegaOrden.estado}} </div>
            <div class="card-body">
              <h6 class="card-title text-uppercase font-weight-bold">CLIENTE: {{bodegaOrden.nombres}}</h6>
              <h6 class="card-title text-uppercase">CI: {{bodegaOrden.cedula}}</h6>
              <h6 class="card-title text-uppercase">EQUIPO: {{bodegaOrden.tipo}} {{bodegaOrden.marca}} {{bodegaOrden.modelo}} </h6>
              <h6 class="card-title text-uppercase">FALLA: {{bodegaOrden.fallaReportada}} {{bodegaOrden.comentario}} </h6>
              <p class="card-text text-uppercase">DIAGNOSTICO:
               ( {{bodegaOrden.diagnostico}})</p>
            </div>
            <div class="card-footer">
              <small class="text-ligth text-center ">Fecha ingreso: {{bodegaOrden.fecha | date:'dd-MM-yyyy'}} </small>
            <a class="btn btn-outline-info btn-sm" role="button" href="{{'https://api.whatsapp.com/send/?phone=593'+ bodegaOrden.telefono +'&text=Buen dia %2C de soluciones informaticas donde usted dejo su equipo para revision le comento que su equipo:&type=phone_number&app_absent=0'}}" target="_blank" rel="noopener noreferrer">N</a>
            </div>
          </div>
        </div>
        </div>
      <div class="modal-footer">
        <pagination-controls class="text-center" previousLabel="Ant.." nextLabel="Sig.." (pageChange)="pb = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!---getOrdenes-->
<div>
   <h4 class="text-uppercase text-secondary text-center"><br>Historial de equipos </h4><br></div>

  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col"*ngFor="let ordenesT of Ordenes | orderBy: '-' | paginate: { itemsPerPage: 9, currentPage: p } ">
      <div class="card h-100 card text-dark card-left bg-light mb-3"  style="max-width: 25rem; ">
        <div class="card-header"  [ngClass]="{'bg-info':ordenesT.estado =='BODEGA',
  'bg-success':ordenesT.estado==='LISTO', 'bg-danger':ordenesT.estado=='NOVEDAD','bg-warning':ordenesT.estado=='REVISION'}">(ORDEN # {{ordenesT.idingreso}} ) {{ordenesT.estado}} </div>
        <div class="card-body">
          <h6 class="card-title text-uppercase font-weight-bold">CLIENTE: {{ordenesT.nombres}}</h6>
          <h6 class="card-title text-uppercase">CI: {{ordenesT.cedula}}</h6>
          <h6 class="card-title text-uppercase">EQUIPO: {{ordenesT.tipo}} {{ordenesT.marca}} {{ordenesT.modelo}} </h6>
          <h6 class="card-title text-uppercase">FALLA: {{ordenesT.fallaReportada}} {{ordenesT.comentario}} </h6>
          <p class="card-text text-uppercase">DIAGNOSTICO:
           ( {{ordenesT.diagnostico}})</p>
        </div>
        <div class="card-footer">
          <small class="text-ligth text-center ">Fecha ingreso: {{ordenesT.fecha | date:'dd-MM-yyyy'}} </small>
        <a class="btn btn-outline-info btn-sm" role="button" href="{{'https://api.whatsapp.com/send/?phone=593'+ ordenesT.telefono +'&text=Buen dia %2C de soluciones informaticas donde usted dejo su equipo para revision le comento que su equipo:&type=phone_number&app_absent=0'}}" target="_blank" rel="noopener noreferrer">N</a>
         <!--<button class="btn btn-outline-secondary btn-sm" type="button">A</button>-->
        </div>
      </div>
    </div>
    </div>
    <pagination-controls class="text-center" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
</body>
</html>
